footer {
    padding-block: 1rem;
}

footer > span {
    display: block;
    text-align: center;

    padding-bottom: 1rem;
}

footer div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media (width >= 80em) {
    footer {
        display: flex;
    }

    footer div {
        margin-left: auto;
    }
}