footer {
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;

    font-size: var(--font-size-small);

    padding-block: 1rem;

    color: var(--text-color-secondary);
}

footer span:first-child {
    grid-column: 1/-1;
    text-align: center;
}

footer span:nth-child(2) {
    justify-self: center;
}

@media (width >= 80em) {
    footer {
        grid-template-columns: 1fr auto auto;
        padding-block: 1.5rem;
        gap: initial !important;
    }

    footer span:first-child {
        grid-column: initial;
        text-align: left;
    }

    footer span:nth-child(2) {
        margin-right: 1.25rem;
        justify-self: baseline;
    }
}